<div class="flex flex-col gap-4 text-wfac-dark-red">
	<span class="menu-animate is-h6 text-wfac-sand">
		{{ title }}
	</span>
	<ul class="flex flex-col gap-3">
		{% for item in menu.get_items() %}
			<li class="menu-animate">
				<a href="{{ item.link }}" class="text-wfac-cream hover:bg-wfac-accent-red hover:text-wfac-dark-red px-3 py-2 -ml-3 rounded-full  text-sm font-medium duration-400 ease-fancy">
					{{ item.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
