{% include "partials/mouse-follower.twig" %}
<section id="home-on-now" class="bg-wfac-dark-red relative pb-32 lg:pb-48 xl:pb-80">
	<div class="container h-lvh flex flex-col items-center justify-center sticky top-0 left-0">
		<div class="block-content text-wfac-accent-red">
			{{ post.on_now.heading }}
		</div>
	</div>
	<div class="container flex flex-col lg:flex-row justify-between gap-12 relative z-20 bg-wfac-dark-red">
		<div class="absolute bottom-full left-0 w-full h-[25lvh] bg-gradient-to-t from-wfac-dark-red to-wfac-dark-red/0"></div>
		{% include "home/on-now-filter.twig" %}
		<div class="flex flex-col w-full max-w-[1800px]">
			{% include "home/on-now-grid.twig" with { courses: post.on_now.featured, filter: 'featured', active: true } %}
			{% include "home/on-now-grid.twig" with { courses: get_exhibitions(8), filter: 'exhibition' } %}
			{% include "home/on-now-grid.twig" with { courses: get_art_classes(8), filter: 'art-classes' } %}
			{% include "home/on-now-grid.twig" with { courses: get_events(8), filter: 'events' } %}
		</div>
	</div>
</section>
