<div data-mouse="Get Info" data-home-filter="{{ filter }}" class="{{ active ? 'grid' : 'hidden' }} post-tease-container grid-cols-6 gap-4 md:gap-6 3xl:gap-8 gap-y-12 md:gap-y-20 w-full">
	{% for course in courses %}
		{% include "partials/teases/courses-tease.twig" with { course: course, class: loop.index <= 2 ? 'top-teases' : 'bottom-teases'  } %}
	{% endfor %}
</div>
