<section id="home-shop" class="bg-wfac-dark-red min-h-lvh overflow-hidden max-lg:pb-36">
	<div class="container relative flex flex-col items-center gap-16 xl:gap-24 z-40">
		<div class="flex flex-col lg:flex-row justify-between lg:items-end gap-8 text-wfac-accent-red w-full 3xl:w-[95%] 4xl:w-[90%] pt-8">
			<div class="block-content">
				<div class="flex flex-col max-w-[500px]">
					{{ post.shop.heading }}
				</div>
				<div class="flex flex-row gap-8 items-center justify-between">
					<span>
						{{ post.shop.days_open }}
					</span>
					<span>
						{{ post.shop.times_open }}
					</span>
				</div>
			</div>
			<div class="block-content max-w-[400px] xl:max-w-[500px]">
				{{ post.shop.content }}
				{% include "partials/button.twig" with { link: post.shop.link.url, title: post.shop.link.title, target: post.shop.link.target, class: 'mt-2 accent-red' } %}
			</div>
		</div>
		<div data-link-slider data-mouse="Shop" class="flex w-full post-tease-container">
			<div data-slider class="flex flex-row">
				{% for _ in 1..2 %}
					{% for shop_item in post.shop.shop_items %}
						<div class="w-[calc(100vw-2rem)] sm:w-[calc(50vw-1rem)] lg:w-[calc(33.33vw-1.3rem)] 3xl:w-[calc(25vw-1.25rem)] flex px-2 3xl:px-4">
							{% include "partials/teases/shop-tease.twig" %}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>
