<div class="container relative flex flex-col items-center z-40 text-wfac-dark-red">
    <div class="block-content !gap-2 max-w-[1200px] text-center *:text-sm">
        {{ options.footer_acknowledgement }}
    </div>
</div>
