<div class="py-4 relative z-40 text-wfac-dark-red text-sm">
	<div class="container flex flex-col lg:flex-row gap-4 items-center justify-between">
		<div class="flex w-full justify-center lg:justify-start max-lg:order-1">
			<span>
				&copy; WFAC™
				{{ 'now'|date('Y') }}
				All Rights Reserved
			</span>
		</div>
		<div class="flex w-full justify-center max-lg:order-3">
			<p class="text-center">
				Site by
				<a href="https://thestart.com.au" class="underline" target="_blank">
					The Start
				</a>
			</p>
		</div>
		<div class="flex flex-row flex-wrap gap-4 items-center w-ful justify-center lg:justify-end max-lg:order-2">
			{% for item in footer_bottom_menu.get_items() %}
				<a href="{{ item.link }}" class="footer-menu-item">
					{{ item.title }}
				</a>
			{% endfor %}
		</div>
	</div>
</div>
