{% extends "base.twig" %}
{% block content %}
	<div class="bg-wfac-cream">
		{% include "partials/program/program-nav.twig" %}
		{% include "partials/program/program-grid.twig" %}
	</div>
	{% include "partials/program/program-filter.twig" %}
{% endblock %}
