@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './typography.css';
@import './animations.css';
@import './header.css';
@import './buttons.css';
@import './sliders.css';
@import './accordion.css';
@import './forms.css';

@layer components {
	.container {
		@apply max-w-full w-full px-6 md:px-8 mx-auto;
	}
}

header {
	&.header-scrolling {
	}
}

body.menu-open {
	[data-menu] {
		@apply translate-x-0;
	}
}

[data-menu] {
	@apply translate-x-full;
}

main {
	section {
		@apply relative py-16 lg:py-32 3xl:py-48;
	}
}

/* REMOVE LOOM EXTENSION PADDING */
section#shadow-host-companion {
	@apply !py-0;
}

.top-teases {
	@apply col-span-3;
}

.bottom-teases {
	@apply col-span-2;

	h3 {
		@apply is-h4;
	}
}

.class-category-grid {
	article:nth-of-type(3n + 2) {
		@apply mt-[20%];
	}
}

.footer-logo path {
	@apply fill-wfac-dark-red;
}
