@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
	font-family: 'Freoarts Sans';
	src: url('/wp-content/themes/startdigital/static/fonts/FreoartsSans.woff2');
}

html,
body {
	@apply font-body scroll-smooth antialiased;
}

body {
	@apply leading-relaxed 3xl:text-lg 3xl:leading-normal;
}

strong {
	@apply font-bold;
}

h1,
.is-h1,
h2,
.is-h2,
h3,
.is-h3,
h4,
.is-h4,
h5,
.is-h5,
h6,
.is-h6 {
	@apply font-heading leading-[1.1];
}

h1,
.is-h1 {
	@apply text-[48px] sm:text-[64px] md:text-[80px] xl:text-[96px];
}

h2,
.is-h2 {
	@apply text-[32px] sm:text-[48px] md:text-[54px] xl:text-[64px];
}

h3,
.is-h3 {
	@apply text-[24px] md:text-[28px] xl:text-[32px];
}

h4,
.is-h4 {
	@apply text-[20px] md:text-[24px];
}

h5,
.is-h5 {
	@apply text-[20px];
}

h6,
.is-h6 {
	@apply text-[18px];
}

/* List styles inside WYSIWYG editors */
.block-content {
	@apply flex flex-col gap-4 md:gap-6;

	ul {
		@apply ml-4;

		li {
			@apply list-disc;
		}
	}

	ol {
		@apply ml-4;

		li {
			@apply list-decimal;
		}
	}

	p {
		a:not(.button, .is-button) {
			@apply font-bold underline;
		}
	}
}

.is-supertitle,
.supertitle {
	@apply text-base uppercase;
}

.is-superscript {
	@apply text-xs font-body;
}
