<div class="container fixed top-0 left-0 z-50 pt-14 md:pt-20 pointer-events-none">
	<nav data-menu-inner class=" rounded-3xl flex flex-col gap-8 lg:gap-12 p-4 max-md:pb-8 md:p-8 lg:pb-12 pointer-events-none opacity-0">
		<ul class="flex flex-col gap-2 xl:gap-4 menu-top">
			{% for item in top_menu.get_items() %}
				<li class="menu-animate">
					<a href="{{ item.link }}" class="is-h2 max-lg:text-[24px] max-xl:text-[32px] text-wfac-white py-1 xl:py-2 flex hover:bg-wfac-deep-red ease-fancy duration-400 rounded-xl hover:px-6 flex-row items-center justify-between hover:text-wfac-dark-red">
						<span class="pt-4">
							{{ item.title }}
						</span>
						{% include "icons/arrow.twig" with { class: 'size-6 lg:size-8 xl:size-12' } %}
					</a>
				</li>
			{% endfor %}
		</ul>
		<div class="grid grid-cols-2 lg:flex flex-row gap-8 lg:gap-16 justify-between menu-below w-full lg:pr-12 2xl:pr-0 2xl:w-[80%] 4xl:w-[90%] max-w-[1600px]">
			{% include "partials/menu/menu-sub-menu.twig" with { title: 'Program', menu: program_menu, class: 'max-sm:hidden'  } %}
			{% include "partials/menu/menu-sub-menu.twig" with { title: 'Art Classes', menu: art_classes_menu, class: 'max-sm:hidden'  } %}
			{% include "partials/menu/menu-sub-menu.twig" with { title: 'Visit', menu: visit_menu, class: 'max-sm:hidden'  } %}
			{% include "partials/menu/menu-sub-menu.twig" with { title: 'Engage', menu: program_menu  } %}
			{% include "partials/menu/menu-sub-menu.twig" with { title: 'About', menu: about_menu  } %}
		</div>
	</nav>
</div>
