<div class="program-feed-item h-lvh flex items-center justify-center w-full py-8 snap-start will-change-transform">
	{% include "partials/teases/courses-tease.twig" with { course: program_post, class: 'dark' } %}
</div>
