<header class="fixed top-0 z-50 w-full py-2 md:py-4">
	<div data-navigation class="container  relative">
		<div data-header-inner class="w-full grid grid-cols-2 lg:grid-cols-3 items-center justify-between rounded-full p-2.5 md:p-3 px-4 md:px-6 relative header-animation">
			<a href="{{ site.url }}" class="w-fit relative z-10" rel="home">
				{% include 'icons/logo.twig' with { class: 'h-7 md:h-9 text-wfac-dark-red' } %}
			</a>
			{% include "partials/header/header-nav.twig" %}
			{% include "partials/header/header-icon-bar.twig" %}
			{% include "partials/header/header-bg.twig" %}
		</div>
	</div>
</header>
{% include "partials/menu/menu.twig" %}
{% include "partials/menu/menu-search.twig" %}
