<div data-whats-on-mouse class="font-heading text-wfac-dark-red bg-wfac-white rounded-full fixed top-0 left-0 py-1 px-3 leading-none z-50 pointer-events-none scale-0 min-w-8 origin-center flex justify-center">
    <div class="flex flex-row gap-1 items-center overflow-hidden">
        <span class="pt-1 whitespace-nowrap">
            Get Info
        </span>
        {% include "icons/arrow.twig" with { class: 'size-6' } %}
    </div>
</div>
