<div class="flex flex-col gap-2">
	<label class="text-lg text-wfac-cream/40" for="{{ id }}">{{ label }}</label>
	<input type="text" name="{{ name }}" class="date-field !bg-transparent text-white is-h4 border-none p-0 flex flex-row items-center gap-2 placeholder:text-wfac-white !border-0 !outline-none" placeholder="{{ placeholder }}"/>
</div>
